* {
    margin: 0;
    font-family: 'inter', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

.d-none {
    display: none;
}

h1 {
    margin: 0;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
}

h2 {
    font-size: 27px;
    font-weight: 700;
    line-height: 32.4px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 19.2px;
}

.ml-mr-16px {
    margin-left: 16px;
    margin-right: 16px;
}

.mb-80px {
    margin-bottom: 80px;
}

.mb-16px {
    margin-bottom: 16px;
}

