/* Task - container */

.to-do-mobile{
    width: 252px;
    padding-top: 24px;
}

.to-do-add-mobile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.to-do-container-mobile{
    display: flex;
    flex-wrap: wrap;
    width: 252px;
    min-height: 135px;
}

.in-progress-mobile{
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    width: 252px;
}

.in-progress-title-mobile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.in-progress-container-mobile{ 
    display: flex;
    flex-direction: column;
    width: 100%; 
    min-height: 135px;
} 

.no-task-progress {
    width: 100%;
}

.await-feedback-title-mobile{
    display: flex;
    justify-content: space-between; 
    padding-top: 26px; 
    padding-bottom: 16px; 
    width: 252px;
}

.await-feedback-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    max-width: 252px;
    min-height: 135px;
    flex-direction: column;
}

.await-feedback-container::-webkit-scrollbar{
    display: none;
} /* in addition, bc of different browerser */

.await-feedback-cards-container{
    width: 252px;
    padding-right: 16px;
}

.done-mobile{
    padding-bottom: 110px;
    width: 252px;
}

.done-title-mobile{
    display: flex;
    justify-content: space-between; 
    padding-top: 26px; 
    padding-bottom: 16px; 
}

.done-container-mobile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 135px;
}

.card-contact-emblems-others{
    padding-left: 2px;
}

/* Move Task Category */

.task-switch-category{
    display: none;
}

/* OTHERS */

.taskOverlayContainerShadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    backdrop-filter: brightness(0.4);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: all 120ms ease-in-out;
}

.hide{
    display: none;
}



/* MEDIA QUERYS 2/2 */

@media (max-width: 1460px){

.to-do-container-mobile{
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.in-progress-container-mobile{
    flex-wrap: nowrap;
    overflow-x: scroll;
    flex-direction: row;
    scrollbar-width: none;
}

.await-feedback-container {
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
}

.done-container-mobile{
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

.card-body{
    margin-right: 24px;
}

}
