/* fonts: */

@font-face {        
    font-family: 'interregular';
    src: url('/assets/fonts/inter/inter-v13-latin-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* media querys */

/* hover & effects */

/* body */

body {
    margin: 0;
    height: 100%;
    background-color: #f7f6f8;
    scroll-behavior: smooth;
}

/* Board-mobile */ 

.render_board_mobile{
    height: 100%; 
    max-width: 396px;
    padding-top: 70px;
}

.board-add-task-mobile{
    
    display: flex;
    flex-direction: column;
 }

.board-add-task-title-mobile {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 40px;
}

.board-add-task-mobile-img {
cursor: pointer;
} 

.add-mobile-small-img{
    cursor: pointer;
} 

.board-search-mobile {
    height: 48px;        
    border: 1px solid #A8A8A8;
    border-radius: 8px;
    margin-bottom: 24px;    
    background-color: #FFFFFF;
    ;
}

.board-search-mobile-input{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

#boardInput{
    width: 100%;
    border: none;
    height: 44px;
    font-size: 20px;
    outline: none;
}

.board-search-icon-mobile{
    width: 48px;
    height: 32px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #D1D1D1;
}

.board-search-icon-mobile-img{ 
    height: 17.58px;
    width: 17.58px;
}

/* TODO */

.to-do-mobile{
    
}

.to-do-add-mobile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

/* .to-do-add-mobile-img{} */

.to-do-container-mobile{
   width: 100%;
} 

/* PROGRESS */

.in-progress-mobile{
    display: flex;
    flex-direction: column;
    padding-top: 26px;
}

.in-progress-title-mobile{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.in-progress-container-mobile{ 
  width: 100%;   
} 

.no-task-progress {
    width: 100%;
}

/* FEEDBACK */

.await-feedback{
    padding-bottom: 110px;
} 

.await-feedback-title-mobile{
    display: flex;
    justify-content: space-between; 
    padding-top: 26px; 
    padding-bottom: 16px; 
}

/* .await-feedback-mobile-img {} */

.await-feedback-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}






