/* Hoover - Effects */



/* Task - Card - Design */

.card-body {
    max-width: 252px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;    /* #FFFFFF; */
    padding: 16px;
    border-radius: 24px;
    margin-bottom: 16px;        
    cursor: pointer;
}

.card-header{
    padding-bottom: 28px;
    width: 220px;
}

.card-title{
    padding-bottom: 8px;
}

.card-description{
    width: 220px;
    color: #A8A8A8;
    padding-bottom: 24px;
    white-space: normal;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.due-date{}

.assigned-to{}

.card-subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.card-sum-subtask{
    font-size: 12px;
    padding-left: 4px;
}

.card-participants-priority{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card-contact-emblems{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    padding-left: 20px;
}

.card-contact-emblems-icon{
    margin-left: -20px;
}

.card-contact-emblems-img{          /*ggf. obsolet  */
    margin-left: -20px;
}

.card-emblems{

}

.delete-edit{
    
}

/* OVERLAY - TASK */

.overlay-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.overlay-task {
    max-width: 396px;   
    height: fit-content;
    max-height: 724px;
    z-index: 1;
    background-color:   #FFFFFF; 
    border-radius: 30px;
    position: fixed;
    top: 96px;
    bottom: 96px;  
    left: 16px; 
    right: 16px; 
    padding: 32px 24px 32px 24px;
    margin: 0 auto;                 /* so bleibt es dauerhaft zentiert */    
}

.overlay-card-header {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.overlay-card-title{
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: 700;
}

.overlay-card-description{
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}

.overlay-card-due-date{
    display: flex;    
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #42526E;
}

.overlay-due-date{
    color: black;
    padding-left: 25px;

}

.overlay-card-priority{
    padding-bottom: 16px;
    display: flex;   
}

.overlay-card-priority-text{
    color: #42526E;
    width: 59px;
}

.overlay-card-priority-img{
    
}

.overlay-card-priority-text-img{
    padding-left: 25px;
    width: 124px;
    display: flex;
    justify-content: space-evenly;
}

.overlay-assigned-to{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.overlay-assigned-to-text{
    color: #42526E;
    padding-bottom: 4px;
}

.overlay-assigned-to-contacts{
    display: flex;
    align-items: center;    
    padding-left: 7px;
    padding-bottom: 7px;
    padding-top: 11px;
}

.overlay-contact-name{
    padding-left: 16px;
}

.overlay-participants{
    display: flex;
    flex-direction: column;    
}

.overlay-contact-emblems-img{
    width: 42px;
    height: 42px;
}

.overlay-card-subtasks{
    padding-bottom: 16px;
}

.overlay-substasks-text{
    color: #42526E;  
    padding-bottom: 8px;      
}

.overlay-checkbox{    
}

.overlay-subtask{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.overlay-checkbox-img{
    width: 16px;
    height: 16px;
    padding-right: 16px;
}

.overlay-card-checklist{
    padding-bottom: 16px;
}

.overlay-card-delete-edit{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 24px;
}

.overlay-cde{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 8px;
    height: 24px;
    cursor: pointer;
}

.overlay-cde-img1{
    height: 18px;
    width: 16px;
    padding-right: 8px;
}

.overlay-cde-img2{
    height: 18.25px;
    width: 18.28px;
    padding-right: 8px;
    
}

.overlay-cde-text{
  
}


/* EDIT TASK */

.close-edit{
    display: flex;
    justify-content: end;
    align-items: center;
}

.board-edit-task{
    max-width: 396px;
    height: fit-content;
    max-height: 724px;
    z-index: 3;
    background-color: lightgray;
    border-radius: 30px;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 16px;
    right: 16px;
    padding: 32px 24px 32px 24px;
    margin: 0 auto;
}

.edit-button-box{
    display: flex;
    width: 100%;
    max-width: 428px;
    height: 88px;
    justify-content: end;
    box-sizing: border-box;
    align-items: center;
}

.edit-button{
    width: 100%;
    max-width: 70px;
    height: 56px;
    border-radius: 10px;
    padding: 8px;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    background-color: #2A3647;
    color: white;
    background-image: url(/assets/svg/check.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 2px);
    background-size: 24px 24px;
    box-sizing: border-box;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 4px;
}

.prio-div-card{
    height: 88px;
}

.description-card-edit{
    padding-bottom: 8px;
}

.subtask-card-edit{

}

.date-input {
    width: calc(100% - 4px); /* Platz für das Icon abziehen */
    height: 100%;
    padding: 8px 21px;
    border: 1px solid #D1D1D1; /* Benutzerdefinierte Border-Stil */
    border-radius: 10px; /* Benutzerdefinierter Border-Radius */
    outline: none;
    background-color: white; /* Standardmäßiger weißer Hintergrund */
    background-image: url('/assets/svg/event.svg'); /* Hintergrundbild mit der SVG-Datei */
    background-position: calc(100% - 18px) center; /* Verschiebung des Hintergrundbilds nach rechts */
    background-size: 24px 24px;
    background-repeat: no-repeat;
    cursor: pointer; /* Zeiger-Cursor hinzufügen, um Interaktivität anzuzeigen */
}

.calendar-icon-label {
    position: relative; /* Position relativ für das Label */
    display: inline-block; /* Als Inline-Block-Element behandeln */
    width: 100%;
}

#birthday::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Standard-Kalender-Icon unsichtbar machen */
    cursor: pointer; /* Zeiger-Cursor hinzufügen, um Interaktivität anzuzeigen */
}


/* Potential - Classes */

.hidden {
    display: none;
}







