/* Task - Card - Design */

.card-body {
    max-width: 252px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;    /* #FFFFFF; */
    padding: 16px;
    border-radius: 24px;
    margin-bottom: 16px;        
    cursor: pointer;
}

.card-header{
    padding-bottom: 28px;
    width: 220px;
}

.card-title{
    padding-bottom: 8px;
}

.card-description{
    width: 220px;
    color: #A8A8A8;
    padding-bottom: 24px;
    white-space: normal;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.due-date{}

.assigned-to{}

.card-subtasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}



.card-sum-subtask{
    font-size: 12px;
    padding-left: 4px;
}

.card-participants-priority{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card-contact-emblems{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    padding-left: 20px;
}

.card-contact-emblems-icon{
    margin-left: -20px;
}

.card-contact-emblems-img{          /*ggf. obsolet  */
    margin-left: -20px;
}

.card-emblems{

}

.delete-edit{
    
}

/* OVERLAY - TASK */

.overlay-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.overlay-task {
    max-width: 396px;   
    height: fit-content;
    max-height: 724px;
    z-index: 1;
    background-color:   #FFFFFF; 
    border-radius: 30px;
    position: fixed;
    top: 96px;
    bottom: 96px;  
    left: 16px; 
    right: 16px; 
    padding: 32px 24px 32px 24px;
    margin: 0 auto;                 /* so bleibt es dauerhaft zentiert */  
    
}

.overlay-card-header {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.overlay-card-title{
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: 700;
}

.overlay-card-description{
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}

.overlay-card-due-date{
    display: flex;    
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #42526E;
}

.overlay-due-date{
    color: black;
    padding-left: 25px;

}

.overlay-card-priority{
    padding-bottom: 16px;
    display: flex;   
}

.overlay-card-priority-text{
    color: #42526E;
    width: 59px;
}


.overlay-card-priority-text-img{
    padding-left: 25px;
    width: 124px;
    display: flex;
    justify-content: space-evenly;
}

.overlay-assigned-to{
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.overlay-assigned-to-text{
    color: #42526E;
    padding-bottom: 4px;
}

.overlay-assigned-to-contacts{
    display: flex;
    align-items: center;    
    padding-left: 7px;
    padding-bottom: 7px;
    padding-top: 11px;
}

.overlay-contact-name{
    padding-left: 16px;
}

.overlay-participants{
    display: flex;
    flex-direction: column;    
}

.overlay-contact-emblems-img{
    width: 42px;
    height: 42px;
}

.overlay-card-subtasks{
    padding-bottom: 16px;
}

.overlay-substasks-text{
    color: #42526E;  
    padding-bottom: 8px;      
}


.overlay-subtask{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.overlay-checkbox-img{
    width: 16px;
    height: 16px;
    padding-right: 16px;
}

.overlay-card-checklist{
    padding-bottom: 16px;
}

.overlay-card-delete-edit{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 24px;
}

.overlay-cde{
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 8px;
    height: 24px;
    cursor: pointer;
}

.overlay-cde-img1{
    height: 18px;
    width: 16px;
    padding-right: 8px;
}

.overlay-cde-img2{
    height: 18.25px;
    width: 18.28px;
    padding-right: 8px;
    
}


/* Potential - Classes */

.hidden {
    display: none;
}

.background-fade {
    opacity: 0.5;
    filter: blur(1px); 
}





