.close-edit{
    display: flex;
    justify-content: end;
    align-items: center;
}

.board-edit-task{
    max-width: 396px;
    height: fit-content;
    max-height: 724px;
    z-index: 3;
    background-color: lightgray;
    border-radius: 30px;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 16px;
    right: 16px;
    padding: 32px 24px 32px 24px;
    margin: 0 auto;
}

.edit-button-box{
    display: flex;
    width: 100%;
    max-width: 428px;
    height: 88px;
    justify-content: end;
    box-sizing: border-box;
    align-items: center;
}

.edit-button{
    width: 100%;
    max-width: 70px;
    height: 56px;
    border-radius: 10px;
    padding: 8px;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    background-color: #2A3647;
    color: white;
    background-image: url(/assets/svg/check.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 2px);
    background-size: 24px 24px;
    box-sizing: border-box;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 4px;
}

.prio-div-card{
    height: 88px;
}

.description-card-edit{
    padding-bottom: 8px;
}

.subtask-card-edit{

}

.date-input {
    width: calc(100% - 44px);    height: 40px; 
    padding: 8px 21px; 
    border: 1px solid #D1D1D1; 
    border-radius: 10px; 
    outline: none;
    background-color: white; 
    background-image: url('/assets/svg/event.svg'); 
    background-position: calc(100% - 18px) center; 
    background-size: 24px 24px;
    background-repeat: no-repeat;
    cursor: pointer; 
}

/* placeholder conditions for "all" browsers */
.date-input::placeholder {
    color: black;
}

.date-input::-webkit-input-placeholder {
    color: black;
}

.date-input::-moz-placeholder {
    color: black;
}

.date-input:-ms-input-placeholder {
    color: black;
}

.date-input:-moz-placeholder {
    color: black;
}

.calendar-icon-label {
    position: relative; 
    display: inline-block; 
    width: 100%;
}

#edit_input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    cursor: pointer; 
}

.nameListEdit {    
       width: 100%;
       height: 48px;
       padding: 12px 16px;
       gap: 0;
       border-radius: 10px;
       border: 1px solid #D1D1D1;
       justify-content: space-between;
       opacity: 1;
    }

/* ContactList Edit */


.contact-list-container {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    overflow-y: auto; /* Vertikaler Scrollbalken anzeigen, wenn nötig */
    overflow-x: hidden;
}

.contactFieldEdit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 8px;
    background-color: white;
}

.edit-contact-name-svg{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 8px;
}

.edit-contact-check{
    padding-right: 8px;
}

.checkbox {
    width: 24px;
    height: 24px;
    background-image: url('/assets/svg/rectangle.svg');
}

.checkbox.selected {
    background-image: url('/assets/svg/checkboxWhite.svg');
}
