body {
    text-wrap: balance;
}

.helpHTML-h1 {
    margin-top: 128px;
}

.helpHTML-h2 {
    margin-bottom: 16px;
}

.text-container {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 24px;
}

.a-help {
    margin: 0;
    color: rgba(41, 171, 226, 1);
    display: inline-block;
}

.help-list {
    margin-top: 16px;
    padding-left: 22px;
    line-height: 19.2px;
}

ol > li::marker {
    font-weight: bold;
    font-size: 28px;
}

ol {
    padding-bottom: 16px;
}