body {
    text-wrap: balance;
}

h1 {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    margin-top: 48px;
    margin-bottom: 32px;
}

h2 {
    font-size: 27px;
    font-weight: 700;
    line-height: 32.4px;
    margin-bottom: 16px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 19.2px;
}

.text-container {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 24px;
}

.a-help {
    margin: 0;
    color: rgba(41, 171, 226, 1);
    display: inline-block;
}

.help-list {
    margin-top: 16px;
    padding-left: 22px;
    line-height: 19.2px;
}

ol > li::marker {
    font-weight: bold;
    font-size: 28px;
}

ol {
    padding-bottom: 16px;
}