.summary-title-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.summary-underline-blue {
    width: 90px;
    height: 3px;
    margin-top: 8px;
}

.summary-body {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: rgb(246,247,248);
}

.summary-container {
    width: 100%;
    margin-top: 40px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-container-part {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 110px;
    width: 100%;
    max-width: 186px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all 225ms ease;
}

.todo-container:hover {
    background-color: rgb(42,54,71);
    color: white;
    box-shadow: 0 0 0 8px rgb(42, 54, 71);

    .edit-and-check-icon-hover {
        opacity: 1;
        width: 40px;
        height: 40px;
        transition: all 225ms ease;
    }

    .edit-and-check-icon {
        opacity: 0;
        width: 0;
        height: 0;
        transition: all 225ms ease;
    }
}

.edit-and-check-icon {
    opacity: 1;
    width: 40px;
    height: 40px;
    transition: all 225ms ease;
}

.edit-and-check-icon-hover {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 225ms ease;
}

.urgent-task-container {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 110px;
    width: calc(100% - 32px);
    max-width: 396px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 18px;
    transition: all 225ms ease;
}

.urgent-task-container:hover {
    background-color: rgb(42,54,71);
    color: white;
    box-shadow: 0 0 0 8px rgb(42, 54, 71);
}

.urgent-task-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 18px;
    gap: 18px;
}

.urgent-task-deadline {
    font-size: 16px;
    line-height: 19.2px;
    text-align: left;
}

#urgentTasksDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.tasks-in-board-container {
    height: 116px;
    width: 100%;
    max-width: 116px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 225ms ease;
}

.tasks-in-board-container:hover {
    background-color: rgb(42,54,71);
    color: white;
    box-shadow: 0 0 0 8px rgb(42, 54, 71);
}

.summary-task-numbers {
    display: flex;
    width: 100%;
    font-size: 47px;
    font-weight: 600;
    line-height: 56.4px;
    justify-content: center;
}

.summary-underline-blue-desktop {
    display: none;
    height: 59px;
    width: 3px;
}

@media (min-width:800px ) {
    .summary-body {
        margin-left: 328px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .summary-container {
        align-items: flex-start;
    }

    .summary-container-part {
        justify-content:  flex-start;
        width: 100%;
        max-width: unset;
        gap: 30px;
    }

    .urgent-task-container {
        width: 100%;
        max-width: 560px;
        height: 168px;
    }

    .todo-container {
        height: 168px;
        width: 264px;
        max-width: unset;
    }

    .summary-title-div {
        flex-direction: unset;
        align-items: center;
        gap: 30px;
    }

    .tasks-in-board-container {
        height: 168px;
        width: 168px;
        max-width: unset;
    }

    .summary-underline-blue {
        display: none;
    }

    .summary-underline-blue-desktop {
        display: flex;
        align-items: center;
    }

    .summary-subtitle {
        font-size: 27px;
        font-weight: 400;
        line-height: 32.4px;
    }

    .edit-and-check-icon {
        opacity: 1;
        width: 69px;
        height: 69px;
        transition: all 225ms ease;
    }

    .todo-container:hover {
        .edit-and-check-icon-hover {
            opacity: 1;
            width: 69px;
            height: 69px;
            transition: all 225ms ease;
        }
    }

    .summary-task-numbers {
        font-size: 64px;
        line-height: 76.8px;
    }

    .todo-container {
        gap: 16px;
    }

    .summary-sub-text {
        font-size: 20px;
    }
}