<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Contact</title>
    <link rel="stylesheet" href="/add_contact.css">
    <script src="/assets/js/add_contact.js"></script>
     
</head>
<body>

    <div class="overlay-container">
        <div class="top-container">
            <div class="close-btn-div"><button class="close-btn"></button></div>
            <div class="headline">Add Contact</div>
            <div class="subheadline">Tasks are better with a team! </div>
            <img class="divider" src="/assets/svg/underline_blue.svg">
           

        </div>
 <img class="contact-pic" src="/assets/svg/Frame 79.svg">
        <div class="bottom-container">
            <form class="create-contact-form">
                <input id="contact-name" type="text" required placeholder="Name">
                <input id="contact-mail" type="email" required placeholder="Email">
                <input id="contact-phone" type="tel" required placeholder="Phone">
                <button class="create-contact-btn">Create contact <img src="/assets/svg/check.svg"></button>
            </form>
        </div>
    </div>
    <a href="/assets/templates/contact_details.html"></a>
</body>
</html>