<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/assets/js/w3_include.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/css/contact_details.css">
    <script src="/assets/js/contact_details.js"></script>
</head>
<body>
    <div w3-include-html="./assets/templates/mobile_template.html"></div>
    <div class="top-container">
        <div class="headline-div"><p class="headline">Contacts</p><p class="subheadline">Better with a team</p><img class="divider" src="/assets/svg/underline_blue.svg"></div>
        <button class="back-btn"></button>
    </div>
    <div class="middle-container">
        
        <div class="name-div"><img class="name-pic" src="/assets/svg/Frame 79-3.svg"><p class="name-headline">Tatjana Wolf</p></div>
        <p class="contact-info">Contact Information</p>
        <div>
            <p class="category-headline">Email</p>
            <p class="email">wolf@gmail.com</p>
            <p class="category-headline">Phone</p>
            <p class="phone">+49 2222 222 22 2</p>
        </div>
        
        
    </div>
    <div class="bottom-container">
        <button class="more-btn"></button>
        <div class="edit-menu-sb">
            <button class="edit-btn"></button>
            <button class="del-btn"></button>
        </div>
        
    </div>
    
</body>
</html>