<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <title>Legal notice</title>
</head>
<body>
    <div id="mobileTamplateContent" w3-include-html="/assets/templates/mobile_template.html"></div>
    <h1>Lefgal Notice</h1>
    <h2>Imprint</h2>
    <ul>
        <li>Giovanni Witulski</li>
        <li>Himmelbach, 4</li>
        <li>86925, Leeder</li>
    </ul>
    <h2>Exploring the Board</h2>
    <p>Email: witulski.schule@gmail.com</p>
    <h2>Acceptance of terms</h2>
    <div>
        By accessing and using <a href="#">Join</a> (Product), you 
        acknowledge and agree to the following terms and 
        conditions, and any policies, guidelines, or
        amandments thereto that may be presented to you 
        from time to time. We, the listed students, may 
        update or change the terms and conditions from
        time to time without notice. 
    </div>
    <h2>Scoope and ownership of the Product</h2>
    <div>
        <a href="#">Join</a> has been developed as part of a student group 
        project in a web development bootcamp at the
        <a href="#">Developer Akademie GmbH</a>. it has an educastional 
        purpose and is not intended for extensive personal 
        & business usage. As such, we cannot guarantee 
        consistent availability regarding this Prodct.

        The design of <a href="#">Join</a> is owned by the <a href="#">Developer
        Akademie GmbH</a>. Unauthorized use, rreproduction, 
        modification, distribution, or replication of the
        design is strictly prohibited.
    </div>
    <h2>Proprietary right</h2>
    <div>
        Aside from the design owned by <a href="#">Developer
        Akademie GmbH</a>.
    </div>
</body>
</html>