<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/assets/css/mobile_template.css">
    <title>Join</title>
    <script src="script.js"></script>
</head>
<body>
    <div>
        <header>
            <img src="/assets/img/join-logo.svg" alt="">
        </header>
        <nav class="nav-mobile">
            <img src="/assets/img/summary-icon.svg" alt="">
            <img src="/assets/img/board-icon.svg" alt="">
            <img src="/assets/img/add-task-icon.svg" alt="">
            <img src="/assets/img/contacts-icon.svg" alt="">
        </nav>
    </div>
</body>
</html>